In [273]:
from __future__ import division, print_function # Imports from __future__ since we're running Python 2
import os
import numpy as np
import collections as cls
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import itertools
import math
import glob
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from matplotlib import pylab
from pylab import *
random_state = 10

In [274]:
#get all city names
all_cities_paths =  glob.glob(os.path.join(os.getcwd(), 'data','*'))
cities = []
for city in all_cities_paths:
    cities.append(city.split("/")[-1])
print(cities)

['amsterdam', 'berlin', 'copenhagen', 'dublin', 'edinburgh', 'helsinki', 'lisbon', 'london', 'madrid', 'moscow', 'reykiavik', 'rome', 'tallin', 'vienna', 'paris']

In [275]:
#loading each city's dataset to a dictionary
datasets = dict()
for city in cities:
    data_path = glob.glob(os.path.join(os.getcwd(), 'data',city,city,city,'*.csv')) 
    for f in data_path:
        city_data =pd.read_csv(f,delimiter=",",lineterminator="\n") 
        city_data.fillna("(unknown)",inplace=True)
        datasets[city] = city_data

In [276]:
#find out which of the columns of each city's dataset have missing values
city_columns = dict() #it is going to conatin the feature list of each city
for city,data in datasets.iteritems():
    columns = data.columns.values
    city_columns[city] = list(columns)
    some_mis = []
    only_mis = []
    for col in columns:
        bools = data[col].to_frame().isin({col: ['(unknown)']}) 
        num = len(bools[bools[col] == True].index) #number of mssing values in the particular column
        if num > 0: #if there is at least one missing value
            if num < len(bools.index): #if not all values are missing
                some_mis.append(col)
            else:
                only_mis.append(col) #if all values of the column are missing
    print_str = '\n{} '.format(city)
    if len(some_mis) > 0:
        print_str += '\ncols with some missing values--> {}'.format(some_mis[0])
        for i in range(1,len(some_mis)):
            print_str += ',{}'.format(some_mis[i])
    if len(only_mis) > 0:
        print_str += '\ncols with only missing values--> {}'.format(only_mis[0])
        for i in range(1,len(only_mis)):
            print_str += ',{}'.format(only_mis[i])
    print(print_str)

edinburgh
cols with some missing values--> name
cols with only missing values--> country,borough,bathrooms,minstay

helsinki
cols with some missing values--> name
cols with only missing values--> country,borough,bathrooms,minstay

paris
cols with some missing values--> overall_satisfaction
cols with only missing values--> country,borough,bathrooms,minstay

madrid
cols with only missing values--> minstay

moscow
cols with only missing values--> country,bathrooms,minstay

dublin
cols with only missing values--> country,borough,bathrooms,minstay

tallin
cols with only missing values--> country,borough,bathrooms,minstay

berlin
cols with some missing values--> name
cols with only missing values--> country,borough,bathrooms,minstay

rome
cols with only missing values--> country,borough,bathrooms,minstay

london
cols with some missing values--> overall_satisfaction
cols with only missing values--> country,bathrooms,minstay

lisbon
cols with some missing values--> name
cols with only missing values--> country,borough,bathrooms,minstay

amsterdam
cols with some missing values--> name
cols with only missing values--> country,borough,bathrooms,minstay

copenhagen
cols with only missing values--> country,borough,bathrooms,minstay

vienna
cols with only missing values--> country,bathrooms,minstay

In [277]:
datasets['madrid'].sample(5)

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
7650,13997848,44682175,Entire home/apt,Centro,Universidad,15,4.5,2,0.0,38.0,(unknown),40.424630,-3.703220,2017-03-12 01:21:26.770421\r
9512,17615698,25342839,Private room,Carabanchel,Buenavista,0,0.0,1,1.0,11.0,(unknown),40.367509,-3.756273,2017-03-11 17:39:24.680104\r
10304,4656142,24099435,Private room,Arganzuela,Delicias,85,4.5,3,1.0,33.0,(unknown),40.397675,-3.693506,2017-03-11 15:46:31.287236\r
6222,1532354,7218465,Entire home/apt,Centro,Embajadores,38,4.5,3,1.0,49.0,(unknown),40.408426,-3.706267,2017-03-12 01:45:45.601239\r
2402,2019799,147247,Entire home/apt,Retiro,Jerónimos,3,4.5,2,1.0,99.0,(unknown),40.409417,-3.690223,2017-03-12 09:31:18.713692\r

In [278]:
#find out which columns are existent to all of the cities and which are not
all_columns = set() # the union of columns appearing in all of the cities
all_common_columns = set() # the intersection of columns appearing in all of the cities
first = True
for city,columns in city_columns.iteritems():
    columns_set = set(columns) #since all the columns of the same city have a unique name
    for col in columns:
        all_columns.add(col.strip())
    if first == False:
        mortals = [] #containing the columns that are going to be removed from the intersection
        for col in all_common_columns:
            if col not in columns_set:
                mortals.append(col)
        for mor in mortals: 
            all_common_columns.remove(mor)
    else:
        for col in columns:
            all_common_columns.add(col.strip()) #initializing the intersection
        first = False

all_common_list = list(all_common_columns) #set to list
if len(all_common_list) > 0:
    print_str = 'Features appearing to every city of the dataset:\n{}'.format(all_common_list[0])
    for i in range(1,len(all_common_list)): #the rest
        print_str += ',{}'.format(all_common_list[i])
    print(print_str)
else:
    print("There are no common features between the different cities")


print_str = "\nFeatures appearing only to some cities of the dataset:\n"
first = True
for col in all_columns:
    if(col not in all_common_columns):
        if first == True:
            print_str += col
            first = False
        else:
            print_str += "," + col

print(print_str)

Features appearing to every city of the dataset:
borough,neighborhood,bedrooms,overall_satisfaction,longitude,reviews,latitude,room_id,accommodates,minstay,price,host_id,room_type

Features appearing only to some cities of the dataset:
property_type,city,name,country,bathrooms,last_modified,survey_id,location

In [279]:
#checking if some bad values exist in accommodates column for every city
bad_accommodates_value_found = False
for city,data in datasets.iteritems():
    if len(data[data['accommodates'] < 1].index) > 0:
        bad_accommodates_value_found = True
    
if bad_accommodates_value_found:
    print("There are bad values in accommodates' column")
else:
    print("There are not bad values in accommodates' column ")

There are not bad values in accommodates' column

In [280]:
#create new column: price per number of people that can be accommodated

for city in datasets.keys():
    print(city)
    city_data = datasets[city]
    for index , row in city_data.iterrows():
        city_data.set_value(index,'price_per_accommodated',row['price']/row['accommodates'])
    datasets[city] = city_data

edinburgh
helsinki
paris
madrid
moscow
dublin
tallin
berlin
rome
london
lisbon
amsterdam
copenhagen
vienna

In [281]:
#input: p--> price of property, quartiles --> quartiles of price dataset,
#k --> tukey test's hyperparameter, status --> sale or rental
#output: whether p is an outlier is an low outlier, a high outlier or normal instance
def tukey_test(p,quartiles,k):
    iqr = quartiles[2] - quartiles[0]
    lower_bound = quartiles[0] - k * iqr
    if(lower_bound < 1):
        lower_bound = 1
        
    upper_bound  = quartiles[2] + k * iqr
    low_outliers = 0
    high_outliers = 0
    if p < lower_bound:
        return "low_outlier"
    elif p > upper_bound:
        return "high_outlier"
    return "no"

In [282]:
#given the fact that some prices might be per month outlier detection method tukey test will be used
#so that these entries will be captures as outliers

k = 1.5 #tukey test's hyperparameter
all_low_outliers = 0
all_high_outliers = 0
all_data = 0
for city in datasets.keys():
    city_data = datasets[city]
    quartiles = []
    quartiles.append(city_data['price_per_accommodated'].to_frame().quantile(q=0.25,axis=0)[0])
    quartiles.append(city_data['price_per_accommodated'].to_frame().mean(axis=0)[0])
    quartiles.append(city_data['price_per_accommodated'].to_frame().quantile(q=0.75,axis=0)[0])
    mortals = [] #create appends to mortals
    city_low_outliers = 0
    city_high_outliers = 0
    for index , row in city_data.iterrows():
        res = tukey_test(row['price_per_accommodated'],quartiles,k)
        if res == 'low_outlier':
            city_low_outliers += 1
        elif res == 'high_outlier':
            city_high_outliers += 1
    all_data += len(city_data.index)
    all_low_outliers += city_low_outliers
    all_high_outliers += city_high_outliers
    print('{0}\t(LOW)\t{1}\t(HIGH)\t{2}\t(TOTAL)\t{3}\t{4}% of city\'s dataset'.
          format(city,city_low_outliers,city_high_outliers,city_low_outliers + city_high_outliers
                 ,100 * float(city_low_outliers + city_high_outliers)/len(city_data.index)))

print('\n\n\nALTOGETHER\t(LOW)\t{0}\t(HIGH)\t{1}\t(TOTAL)\t{2}\t{3}% of all cities\' datasets'.
          format(all_low_outliers,all_high_outliers,all_low_outliers + all_high_outliers
                 ,100 * float(all_low_outliers + all_high_outliers)/all_data))

edinburgh	(LOW)	0	(HIGH)	318	(TOTAL)	318	4.18586284059% of city's dataset
helsinki	(LOW)	0	(HIGH)	157	(TOTAL)	157	5.34741144414% of city's dataset
paris	(LOW)	0	(HIGH)	3173	(TOTAL)	3173	4.98632806361% of city's dataset
madrid	(LOW)	0	(HIGH)	660	(TOTAL)	660	5.23186682521% of city's dataset
moscow	(LOW)	80	(HIGH)	441	(TOTAL)	521	7.67417881868% of city's dataset
dublin	(LOW)	0	(HIGH)	460	(TOTAL)	460	6.36413945766% of city's dataset
tallin	(LOW)	1	(HIGH)	72	(TOTAL)	73	4.27400468384% of city's dataset
berlin	(LOW)	0	(HIGH)	888	(TOTAL)	888	4.51196585539% of city's dataset
rome	(LOW)	0	(HIGH)	1363	(TOTAL)	1363	5.22923460579% of city's dataset
london	(LOW)	0	(HIGH)	2714	(TOTAL)	2714	4.69339051638% of city's dataset
lisbon	(LOW)	3	(HIGH)	779	(TOTAL)	782	6.11080722044% of city's dataset
amsterdam	(LOW)	0	(HIGH)	625	(TOTAL)	625	3.63350967967% of city's dataset
copenhagen	(LOW)	0	(HIGH)	473	(TOTAL)	473	2.54041570439% of city's dataset
vienna	(LOW)	0	(HIGH)	393	(TOTAL)	393	4.9063670412% of city's dataset



ALTOGETHER	(LOW)	84	(HIGH)	12516	(TOTAL)	12600	4.79623609663% of all cities' datasets

In [260]:
#given the fact that some prices might be per month outlier detection method tukey test will be used
#so that these entries will be captures as outliers
print(datasets['madrid']['price'].to_frame().median(axis=0))
print(datasets['madrid']['price'].to_frame().mean(axis=0))
print(datasets['madrid']['price'].to_frame().quantile(q=0.25,axis=0))
print(datasets['madrid']['price'].to_frame().quantile(q=0.5,axis=0))
print(datasets['madrid']['price'].to_frame().quantile(q=0.75,axis=0))

price    60.0
dtype: float64
price    76.70107
dtype: float64
price    38.0
Name: 0.25, dtype: float64
price    60.0
Name: 0.5, dtype: float64
price    93.0
Name: 0.75, dtype: float64

In [240]:
datasets['madrid']

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
0,10914818,10940437,Shared room,Centro,Sol,3,3.5,6,1.0,72.0,(unknown),40.414639,-3.707379,2017-03-12 21:39:58.887658\r
1,2143961,10940437,Shared room,Centro,Sol,39,4.5,6,1.0,47.0,(unknown),40.415161,-3.707928,2017-03-12 21:39:29.191731\r
2,1512437,1718458,Shared room,Chamberi,Trafalgar,6,4.0,9,1.0,49.0,(unknown),40.430073,-3.703354,2017-03-12 21:39:28.526794\r
3,16656191,97914995,Shared room,Centro,Palacio,0,0.0,12,1.0,42.0,(unknown),40.415412,-3.711277,2017-03-12 21:39:28.303291\r
4,4599821,23622848,Shared room,Centro,Justicia,10,4.0,4,1.0,43.0,(unknown),40.428224,-3.699263,2017-03-12 21:39:25.698105\r
5,15431978,67622677,Shared room,Hortaleza,Canillas,2,0.0,3,1.0,59.0,(unknown),40.462516,-3.650677,2017-03-12 21:39:25.029886\r
6,11946007,63784494,Shared room,Centro,Palacio,7,5.0,3,1.0,49.0,(unknown),40.413614,-3.713262,2017-03-12 21:39:24.922621\r
7,4265459,3591751,Shared room,Arganzuela,Acacias,31,4.5,2,1.0,36.0,(unknown),40.403934,-3.703544,2017-03-12 21:39:19.700477\r
8,9658216,3908623,Shared room,Puente de Vallecas,San Diego,3,4.5,2,1.0,31.0,(unknown),40.391607,-3.669146,2017-03-12 21:39:18.606933\r
9,15516955,78169966,Shared room,Centro,Cortes,9,4.0,2,1.0,28.0,(unknown),40.411371,-3.696087,2017-03-12 21:39:18.257073\r
10,17133646,115170407,Shared room,Hortaleza,Pinar del Rey,0,0.0,2,1.0,38.0,(unknown),40.473322,-3.655683,2017-03-12 21:39:16.309093\r
11,16645708,97914995,Shared room,Centro,Palacio,2,0.0,16,1.0,36.0,(unknown),40.415581,-3.711708,2017-03-12 21:39:15.107886\r
12,13180380,9023441,Shared room,Villaverde,Los Rosales,7,4.5,5,1.0,33.0,(unknown),40.350266,-3.686037,2017-03-12 21:39:14.782521\r
13,6354379,33103428,Shared room,Tetuan,Castillejos,17,4.0,2,1.0,31.0,(unknown),40.463302,-3.693827,2017-03-12 21:39:12.877852\r
14,15475748,50529819,Shared room,Carabanchel,Abrantes,5,3.5,3,1.0,31.0,(unknown),40.380594,-3.731574,2017-03-12 21:39:12.541921\r
15,16934431,107875484,Shared room,Centro,Universidad,2,0.0,2,1.0,33.0,(unknown),40.422745,-3.702397,2017-03-12 21:39:11.862286\r
16,11208701,44861669,Shared room,Villaverde,Los Rosales,20,4.0,2,1.0,25.0,(unknown),40.353599,-3.688546,2017-03-12 21:39:11.754744\r
17,17554492,117002004,Shared room,Centro,Embajadores,0,0.0,1,1.0,330.0,(unknown),40.409632,-3.700304,2017-03-12 21:39:09.394104\r
18,11980779,64026664,Shared room,Centro,Palacio,0,0.0,1,1.0,219.0,(unknown),40.412624,-3.711822,2017-03-12 21:39:07.474269\r
19,6905132,7122460,Shared room,Salamanca,Lista,1,0.0,6,1.0,219.0,(unknown),40.429929,-3.677175,2017-03-12 21:39:07.351861\r
20,15394619,90304960,Shared room,Centro,Sol,0,0.0,6,1.0,198.0,(unknown),40.416908,-3.707356,2017-03-12 21:39:05.950870\r
21,9761470,49486916,Shared room,Centro,Justicia,2,0.0,6,1.0,137.0,(unknown),40.425036,-3.700547,2017-03-12 21:39:02.919460\r
22,15557126,12191375,Shared room,Moncloa,Casa de Campo,0,0.0,1,1.0,134.0,(unknown),40.429944,-3.732541,2017-03-12 21:39:02.813056\r
23,17639046,9684809,Shared room,Arganzuela,Acacias,0,0.0,2,1.0,110.0,(unknown),40.401444,-3.702211,2017-03-12 21:39:01.045137\r
24,15701064,101337575,Shared room,Moncloa,Argüelles,0,0.0,5,1.0,88.0,(unknown),40.426144,-3.714758,2017-03-12 21:38:59.282992\r
25,6688832,6363695,Shared room,Centro,Universidad,1,0.0,4,1.0,88.0,(unknown),40.425879,-3.712592,2017-03-12 21:38:59.155968\r
26,14319439,84213235,Shared room,Carabanchel,Vista Alegre,2,0.0,8,1.0,98.0,(unknown),40.388822,-3.738774,2017-03-12 21:38:59.050834\r
27,16446427,35224923,Shared room,Centro,Universidad,0,0.0,4,1.0,82.0,(unknown),40.428168,-3.713397,2017-03-12 21:38:57.420139\r
28,9711735,50138715,Shared room,Chamberi,Trafalgar,0,0.0,2,1.0,77.0,(unknown),40.437523,-3.703881,2017-03-12 21:38:57.306911\r
29,15897965,26949088,Shared room,Centro,Justicia,1,0.0,2,1.0,77.0,(unknown),40.427347,-3.699142,2017-03-12 21:38:57.201163\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12585,5725731,22182064,Private room,San Blas,Arcos,220,4.5,4,1.0,18.0,(unknown),40.422716,-3.615029,2017-03-11 14:46:47.441984\r
12586,10288055,52921683,Private room,Centro,Cortes,60,5.0,1,1.0,31.0,(unknown),40.411027,-3.694243,2017-03-11 14:46:47.334568\r
12587,13315058,17042809,Private room,Carabanchel,San Isidro,53,4.5,2,1.0,33.0,(unknown),40.397220,-3.720101,2017-03-11 14:46:47.225253\r
12588,16091165,92472849,Private room,Arganzuela,Palos de Moguer,22,5.0,2,1.0,28.0,(unknown),40.404959,-3.692438,2017-03-11 14:46:47.110786\r
12589,2916976,14896086,Private room,Centro,Embajadores,162,4.5,2,1.0,33.0,(unknown),40.407539,-3.700517,2017-03-11 14:46:46.993116\r
12590,14880212,88266123,Private room,Arganzuela,Palos de Moguer,70,4.5,2,1.0,26.0,(unknown),40.403601,-3.691063,2017-03-11 14:46:46.884016\r
12591,9961253,19788545,Private room,Salamanca,Lista,31,4.5,2,1.0,29.0,(unknown),40.434938,-3.675572,2017-03-11 14:46:46.776667\r
12592,10640179,8750775,Private room,Moratalaz,Fontarrón,40,5.0,1,1.0,19.0,(unknown),40.400935,-3.637418,2017-03-11 14:46:46.668548\r
12593,6478626,25709853,Private room,Retiro,Niño Jesús,165,4.5,2,1.0,31.0,(unknown),40.406953,-3.670894,2017-03-11 14:46:46.546623\r
12594,15231056,96814654,Private room,Chamberi,Arapiles,22,5.0,2,1.0,33.0,(unknown),40.435832,-3.710177,2017-03-11 14:46:46.438003\r
12595,16597499,109483014,Private room,Puente de Vallecas,San Diego,8,4.0,1,1.0,16.0,(unknown),40.396690,-3.670120,2017-03-11 14:46:46.326975\r
12596,16570096,34480083,Private room,Centro,Universidad,7,5.0,2,1.0,21.0,(unknown),40.422825,-3.709579,2017-03-11 14:46:46.218579\r
12597,16929131,113094407,Private room,Chamberi,Arapiles,6,4.5,2,1.0,31.0,(unknown),40.437468,-3.706241,2017-03-11 14:46:44.287142\r
12598,15795908,46577775,Private room,Barajas,Alameda de Osuna,13,5.0,1,1.0,16.0,(unknown),40.452790,-3.592279,2017-03-11 14:46:44.183355\r
12599,15754743,1424757,Private room,Puente de Vallecas,Palomeras Bajas,43,5.0,3,1.0,25.0,(unknown),40.392565,-3.663502,2017-03-11 14:46:44.078603\r
12600,11406591,43686623,Private room,Arganzuela,Acacias,66,5.0,1,1.0,28.0,(unknown),40.399131,-3.702170,2017-03-11 14:46:43.965264\r
12601,16252782,78267115,Private room,Centro,Justicia,10,4.0,1,1.0,23.0,(unknown),40.423193,-3.700534,2017-03-11 14:46:43.859735\r
12602,9971914,51240422,Private room,Retiro,Ibiza,51,5.0,2,1.0,33.0,(unknown),40.418781,-3.677226,2017-03-11 14:46:43.754781\r
12603,13992189,83542714,Private room,Arganzuela,Palos de Moguer,71,4.5,2,1.0,23.0,(unknown),40.401478,-3.690617,2017-03-11 14:46:43.645273\r
12604,16061629,103971175,Private room,Centro,Universidad,25,4.5,2,1.0,28.0,(unknown),40.427853,-3.709333,2017-03-11 14:46:43.534098\r
12605,17262384,23441165,Private room,Hortaleza,Pinar del Rey,6,4.5,2,1.0,28.0,(unknown),40.474375,-3.638181,2017-03-11 14:46:43.420759\r
12606,17082797,3342943,Private room,Tetuan,Berruguete,5,5.0,2,1.0,26.0,(unknown),40.463885,-3.705130,2017-03-11 14:46:43.290923\r
12607,15781885,37080603,Private room,Chamartin,Nueva España,23,5.0,1,1.0,18.0,(unknown),40.461743,-3.674436,2017-03-11 14:46:43.180713\r
12608,17381425,100288085,Private room,Arganzuela,Palos de Moguer,1,0.0,2,1.0,33.0,(unknown),40.402430,-3.696073,2017-03-11 14:46:43.072284\r
12609,17385452,22480234,Private room,Centro,Universidad,1,0.0,2,1.0,23.0,(unknown),40.426536,-3.708987,2017-03-11 14:46:42.966866\r
12610,17330628,46698374,Private room,Chamberi,Almagro,2,0.0,1,1.0,28.0,(unknown),40.433013,-3.692337,2017-03-11 14:46:42.860961\r
12611,10131071,51392022,Private room,Centro,Embajadores,144,4.5,1,1.0,22.0,(unknown),40.410326,-3.705482,2017-03-11 14:46:42.737762\r
12612,16617101,20474099,Private room,Moncloa,Argüelles,4,5.0,1,1.0,22.0,(unknown),40.431322,-3.717625,2017-03-11 14:46:42.627829\r
12613,9126582,23351497,Private room,Arganzuela,Palos de Moguer,126,4.5,1,1.0,21.0,(unknown),40.406092,-3.697619,2017-03-11 14:46:42.513233\r
12614,2903419,2836239,Private room,Centro,Palacio,31,5.0,1,1.0,35.0,(unknown),40.420218,-3.708975,2017-03-11 14:46:38.989530\r