In [183]:
from __future__ import division, print_function # Imports from __future__ since we're running Python 2
import os
import numpy as np
import collections as cls
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import itertools
import math
import glob
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from matplotlib import pylab
from pylab import *
random_state = 10

In [184]:
#get all city names
all_cities_paths =  glob.glob(os.path.join(os.getcwd(), 'data','*'))
cities = []
for city in all_cities_paths:
    cities.append(city.split("/")[-1])
print(cities)

['amsterdam', 'berlin', 'copenhagen', 'dublin', 'edinburgh', 'helsinki', 'lisbon', 'london', 'madrid', 'moscow', 'reykjavik', 'rome', 'tallin', 'vienna', 'paris']

In [185]:
#finds the not common elements of the two lists
#input: list1,list2 --> the lists to be compared
#output: the not common elements
def find_not_common_columns(list1,list2):
    not_common_cols = []
    both_lists = list1 + list2
    for col in set(both_lists):
        if col not in set(list1) or col not in set(list2):
            not_common_cols.append(col)
    return not_common_cols

In [186]:
#loading each city's dataset to a dictionary and stripping their column titles from unwanted characters
#moreover checking which columns are not common for all csv files of a particular city in order to be discarded later
#in addition their last_modified column values are stripped
datasets = dict()
for city in cities:
    city_data = pd.DataFrame() #initializing city's dataframe
    data_path = glob.glob(os.path.join(os.getcwd(), 'data',city,city,city,'*.csv'))
    print('\n\n\n{}\n'.format(city))
    first = True
    file_columns = [] #containing the columns that the first file of the particular city contains
    for f in data_path:
        file_data =pd.read_csv(f,delimiter=",",lineterminator="\n") 
        old_columns = list(file_data.columns.values)
        new_columns = [] #containing the columns after the stripping
        for col in old_columns:
            new_columns.append(col.strip())
        if first:
            file_columns = new_columns
            first = False
        else:
            if file_columns == new_columns:
                print('no difference in the columns')
            else:
                print('DIFFERENCE IN THE COLUMNS REPORTED')
                print('NOT COMMON COLUMNS: {}'.format(find_not_common_columns(file_columns,new_columns)))      
        file_data.columns = new_columns
        file_data['last_modified'] = file_data['last_modified'].apply(lambda x: x.strip()) #stripping all the values of 'last_modified' column
        city_data = pd.concat([city_data,file_data],ignore_index=True)
    print('\n{}\'s dataset length: {}'.format(city,len(city_data.index)))
    #city_data.fillna("(unknown)",inplace=True)
    datasets[city] = city_data

amsterdam

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']

amsterdam's dataset length: 184551



berlin

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']

berlin's dataset length: 250372



copenhagen

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

copenhagen's dataset length: 156019



dublin

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

dublin's dataset length: 62835



edinburgh

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']

edinburgh's dataset length: 73757



helsinki

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['property_type', 'survey_id', 'bathrooms', 'city', 'country', 'location', 'name']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['property_type', 'survey_id', 'bathrooms', 'city', 'country', 'location', 'name']

helsinki's dataset length: 16364



lisbon

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location', 'name']

lisbon's dataset length: 120632



london

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

london's dataset length: 521224



madrid

no difference in the columns
no difference in the columns

madrid's dataset length: 22798



moscow

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

moscow's dataset length: 35914



reykjavik

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

reykjavik's dataset length: 44639



rome

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

rome's dataset length: 289675



tallin

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

tallin's dataset length: 10815



vienna

no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

vienna's dataset length: 42146



paris

no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
no difference in the columns
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']
DIFFERENCE IN THE COLUMNS REPORTED
NOT COMMON COLUMNS: ['survey_id', 'bathrooms', 'city', 'country', 'location']

paris's dataset length: 701945

In [188]:
#find out which of the columns of each city's dataset have missing values 
#and delete the columns that have only missing values
city_columns = dict() #it is going to conatin the feature list of each city
for city in datasets.keys():
    city_data = datasets[city]
    all_data = len(city_data.index)
    columns = city_data.columns.values
    city_columns[city] = list(columns)
    some_mis = dict()
    only_mis = []
    for col in columns:
        #bools = data[col].to_frame().isin({col: ['(unknown)']}) 
        bools = city_data[col].to_frame().isnull()
        num = len(bools[bools[col] == True].index) #number of mssing values in the particular column
        if num > 0: #if there is at least one missing value
            if num < len(city_data[col].index): #if not all values are missing
                some_mis[col] = num
            else:
                only_mis.append(col) #if all values of the column are missing
    print_str = '\n{} '.format(city)
    if len(some_mis.keys()) > 0:
        first = True
        for col in some_mis.keys():
            if first:
                first = False
                print_str += '\ncols with some missing values--> {}({}%)'.format(col,100*float(some_mis[col]/all_data))
            else:
                print_str += ',{}({}%)'.format(col,100*float(some_mis[col]/all_data))
    if len(only_mis) > 0:
        print_str += '\ncols with only missing values--> {}'.format(only_mis[0])
        for i in range(1,len(only_mis)):
            print_str += ',{}'.format(only_mis[i])
        city_data.drop(only_mis, axis=1, inplace=True) #deleting columns with only missing data
        datasets[city] = city_data
    print(print_str)

edinburgh
cols with some missing values--> overall_satisfaction(13.393982944%),city(69.7384655016%),name(69.7411771086%),price(0.00271160703391%),bedrooms(0.139647762246%),accommodates(1.75712135797%),minstay(72.1260354949%),location(69.7384655016%),survey_id(69.7384655016%),room_type(0.00677901758477%)
cols with only missing values--> bathrooms,borough,country

reykjavik
cols with some missing values--> city(78.223078474%),price(0.0201617419745%),bedrooms(9.57010685723%),overall_satisfaction(16.4363000963%),minstay(57.7745917247%),location(78.223078474%),survey_id(78.223078474%),room_type(0.0201617419745%)
cols with only missing values--> bathrooms,borough,country

helsinki
cols with some missing values--> city(64.1407968712%),survey_id(64.1407968712%),name(64.3241261305%),bedrooms(0.0427768271816%),overall_satisfaction(12.1425079443%),minstay(88.1935956979%),location(64.1407968712%),property_type(64.1407968712%)
cols with only missing values--> bathrooms,borough,country

paris
cols with some missing values--> overall_satisfaction(21.7886016711%),city(81.9340546624%),price(0.00142461303948%),bedrooms(0.400316264095%),accommodates(1.10250803126%),minstay(54.2065261523%),location(81.9340546624%),host_id(0.0411713168411%),survey_id(81.9340546624%),room_type(0.0428808524884%)
cols with only missing values--> bathrooms,borough,country

madrid
cols with some missing values--> minstay(55.917185718%),bedrooms(0.118431441355%),overall_satisfaction(16.8041056233%)

moscow
cols with some missing values--> overall_satisfaction(40.9450353623%),city(62.9225371721%),price(0.0194910062928%),bedrooms(0.192125633458%),accommodates(3.81466837445%),minstay(55.2096675391%),location(62.9225371721%),survey_id(62.9225371721%),room_type(0.0473353009968%)
cols with only missing values--> bathrooms,country

dublin
cols with some missing values--> overall_satisfaction(11.4776796371%),city(65.770669213%),price(0.0127317577783%),bedrooms(0.022280576112%),accommodates(0.617490252248%),minstay(77.9963396196%),location(65.770669213%),survey_id(65.770669213%),room_type(0.0127317577783%)
cols with only missing values--> bathrooms,borough,country

tallin
cols with some missing values--> city(68.7840961627%),bedrooms(0.0184928340268%),overall_satisfaction(12.2422561258%),minstay(87.8687008784%),location(68.7840961627%),survey_id(68.7840961627%)
cols with only missing values--> bathrooms,borough,country

berlin
cols with some missing values--> overall_satisfaction(20.1252536226%),city(84.3397025226%),name(84.3760484399%),bedrooms(2.72194973879%),accommodates(3.80114389788%),minstay(53.9664978512%),location(84.3397025226%),host_id(0.00399405684342%),survey_id(84.3397025226%),room_type(0.00399405684342%)
cols with only missing values--> bathrooms,borough,country

rome
cols with some missing values--> overall_satisfaction(18.6260464313%),city(73.1588849573%),price(0.00690428928972%),bedrooms(0.152239578838%),accommodates(2.11512902391%),minstay(63.3230344351%),location(73.1588849573%),host_id(0.00621386036075%),survey_id(73.1588849573%),room_type(0.0131181496505%)
cols with only missing values--> bathrooms,borough,country

london
cols with some missing values--> overall_satisfaction(24.9769772689%),city(77.8461851335%),price(0.00786609979587%),bedrooms(0.662287231593%),accommodates(2.38170153331%),minstay(55.2453455712%),location(77.8461851335%),host_id(0.0500744401639%),survey_id(77.8461851335%),room_type(0.0579405399598%)
cols with only missing values--> bathrooms,country

lisbon
cols with some missing values--> overall_satisfaction(12.3797997215%),city(68.8449167717%),name(68.8838782413%),price(0.00663173950527%),bedrooms(0.122687180848%),accommodates(2.33188540354%),minstay(71.9775847205%),location(68.8449167717%),survey_id(68.8449167717%),room_type(0.00663173950527%)
cols with only missing values--> bathrooms,borough,country

amsterdam
cols with some missing values--> overall_satisfaction(12.486521341%),city(81.4479466381%),name(81.480999832%),price(0.00650226766585%),bedrooms(0.0709830886855%),accommodates(0.714707587605%),minstay(65.3380366403%),location(81.4479466381%),host_id(0.00108371127764%),survey_id(81.4479466381%),room_type(0.00758597894349%)
cols with only missing values--> bathrooms,borough,country

copenhagen
cols with some missing values--> overall_satisfaction(16.2403297034%),city(64.4203590588%),price(0.283298828989%),bedrooms(0.321114736026%),accommodates(0.802466366276%),minstay(70.6112717041%),location(64.4203590588%),host_id(0.00384568546139%),survey_id(64.4203590588%),room_type(0.28714451445%)
cols with only missing values--> bathrooms,borough,country

vienna
cols with some missing values--> overall_satisfaction(16.0774450719%),city(62.3926351255%),bedrooms(0.0569449058036%),accommodates(2.50557585536%),minstay(76.109239311%),location(62.3926351255%),survey_id(62.3926351255%)
cols with only missing values--> bathrooms,country

In [189]:
datasets['berlin']

,accommodates,bedrooms,city,host_id,last_modified,latitude,location,longitude,minstay,name,neighborhood,overall_satisfaction,price,reviews,room_id,room_type,survey_id
0,2.0,1.0,NaN,2164.0,2014-05-19 07:34:14.697,52.544251,NaN,13.397491,1.0,NaN,Mitte,4.5,41.0,4,1944,Private room,NaN
1,4.0,1.0,NaN,3718.0,2014-05-19 00:01:50.741,52.534240,NaN,13.418094,2.0,NaN,Pankow,5.0,107.0,57,3176,Entire home/apt,NaN
2,4.0,NaN,NaN,11892.0,2014-05-19 08:39:20.351,52.503725,NaN,13.453809,3.0,NaN,Friedrichshain-Kreuzberg,5.0,98.0,32,6083,Entire home/apt,NaN
3,2.0,1.0,NaN,16149.0,2014-05-19 09:33:10.073,52.511713,NaN,13.454768,3.0,NaN,Friedrichshain-Kreuzberg,5.0,121.0,98,6883,Entire home/apt,NaN
4,2.0,1.0,NaN,17391.0,2014-05-19 07:44:28.073,52.542673,NaN,13.415188,2.0,NaN,Pankow,5.0,57.0,56,7071,Private room,NaN
5,4.0,1.0,NaN,36708.0,2014-05-18 22:12:05.767,52.545326,NaN,13.426076,3.0,NaN,Pankow,4.5,74.0,107,10533,Entire home/apt,NaN
6,2.0,NaN,NaN,42081.0,2014-05-18 23:13:30.774,52.496940,NaN,13.425048,3.0,NaN,Friedrichshain-Kreuzberg,5.0,69.0,221,11339,Entire home/apt,NaN
7,5.0,2.0,NaN,54283.0,2014-05-18 22:27:13.518,52.538098,NaN,13.410343,2.0,NaN,Pankow,5.0,161.0,29,13870,Entire home/apt,NaN
8,4.0,1.0,NaN,64696.0,2014-05-18 21:21:26.976,52.504784,NaN,13.435129,3.0,NaN,Friedrichshain-Kreuzberg,5.0,104.0,21,16644,Entire home/apt,NaN
9,2.0,1.0,NaN,67590.0,2014-05-18 21:16:15.591,52.526924,NaN,13.417938,2.0,NaN,Pankow,5.0,63.0,52,17409,Private room,NaN
10,5.0,2.0,NaN,2343.0,2014-05-19 08:20:22.732,52.540579,NaN,13.411601,2.0,NaN,Pankow,4.5,138.0,7,17847,Entire home/apt,NaN
11,2.0,NaN,NaN,68997.0,2014-05-19 09:54:07.427,52.495778,NaN,13.421945,4.0,NaN,Friedrichshain-Kreuzberg,5.0,54.0,85,17904,Entire home/apt,NaN
12,4.0,1.0,NaN,71127.0,2014-05-18 22:09:14.931,52.491266,NaN,13.343068,3.0,NaN,Tempelhof-Schöneberg,4.5,95.0,11,18467,Entire home/apt,NaN
13,4.0,1.0,NaN,71913.0,2014-05-18 22:30:58.696,52.506158,NaN,13.298608,1.0,NaN,Charlottenburg-Wilmersdorf,5.0,77.0,25,18736,Entire home/apt,NaN
14,4.0,2.0,NaN,71331.0,2014-05-19 06:49:39.234,52.536952,NaN,13.407615,4.0,NaN,Pankow,4.0,218.0,7,20858,Entire home/apt,NaN
15,2.0,1.0,NaN,71127.0,2014-05-19 08:19:05.312,52.488699,NaN,13.338998,3.0,NaN,Tempelhof-Schöneberg,NaN,86.0,0,21686,Entire home/apt,NaN
16,2.0,1.0,NaN,71127.0,2014-05-19 08:23:30.757,52.497873,NaN,13.348793,3.0,NaN,Tempelhof-Schöneberg,5.0,86.0,16,21689,Entire home/apt,NaN
17,2.0,1.0,NaN,71127.0,2014-05-19 08:25:12.817,52.493848,NaN,13.351157,3.0,NaN,Tempelhof-Schöneberg,4.5,86.0,13,21690,Entire home/apt,NaN
18,2.0,1.0,NaN,71127.0,2014-05-19 08:26:36.943,52.493030,NaN,13.336152,3.0,NaN,Charlottenburg-Wilmersdorf,4.5,86.0,9,21691,Entire home/apt,NaN
19,4.0,1.0,NaN,64696.0,2014-05-19 00:10:00.722,52.502733,NaN,13.434620,3.0,NaN,Friedrichshain-Kreuzberg,5.0,74.0,36,21869,Entire home/apt,NaN
20,4.0,1.0,NaN,84157.0,2014-05-19 09:23:50.494,52.493607,NaN,13.429273,1.0,NaN,Friedrichshain-Kreuzberg,4.5,92.0,75,21981,Entire home/apt,NaN
21,4.0,2.0,NaN,86159.0,2014-05-19 07:54:37.710,52.534445,NaN,13.388374,1.0,NaN,Mitte,5.0,100.0,105,22438,Entire home/apt,NaN
22,4.0,2.0,NaN,86215.0,2014-05-19 08:14:18.429,52.491907,NaN,13.320780,7.0,NaN,Charlottenburg-Wilmersdorf,5.0,92.0,1,22451,Entire home/apt,NaN
23,2.0,1.0,NaN,86215.0,2014-05-19 08:53:13.487,52.485474,NaN,13.438719,7.0,NaN,Neukölln,4.5,54.0,6,22475,Entire home/apt,NaN
24,6.0,2.0,NaN,87357.0,2014-05-19 07:30:56.246,52.534348,NaN,13.405577,4.0,NaN,Mitte,4.5,123.0,36,22677,Entire home/apt,NaN
25,4.0,1.0,NaN,56012.0,2014-05-19 09:56:01.534,52.536135,NaN,13.405839,2.0,NaN,Mitte,5.0,61.0,130,22769,Entire home/apt,NaN
26,4.0,2.0,NaN,85082.0,2014-05-18 22:05:21.049,52.533602,NaN,13.394352,4.0,NaN,Mitte,4.5,100.0,5,22816,Entire home/apt,NaN
27,3.0,1.0,NaN,88239.0,2014-05-18 23:00:27.665,52.503672,NaN,13.434017,3.0,NaN,Friedrichshain-Kreuzberg,4.5,75.0,100,22850,Entire home/apt,NaN
28,2.0,1.0,NaN,88301.0,2014-05-18 23:14:04.672,52.505628,NaN,13.434291,3.0,NaN,Friedrichshain-Kreuzberg,5.0,80.0,42,22859,Entire home/apt,NaN
29,2.0,1.0,NaN,89597.0,2014-05-18 22:04:14.053,52.510635,NaN,13.389218,1.0,NaN,Mitte,4.5,98.0,17,23071,Entire home/apt,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250342,2.0,1.0,Berlin,126063914.0,2017-05-11 23:40:29.006859,52.534370,0101000020E61000002F14B01D8CD82A4055FB743C6644...,13.422944,NaN,gemütlich- sauberes Zimmer in der Prenzlauer A...,Pankow,4.5,28.0,7,18244833,Private room,1219.0
250343,1.0,1.0,Berlin,14621592.0,2017-05-11 23:40:29.004465,52.549541,0101000020E61000008C6665FB90C72A40D367075C5746...,13.389778,NaN,Rent my sunny simple student room,Mitte,0.0,26.0,0,18448826,Private room,1219.0
250344,1.0,1.0,Berlin,69323143.0,2017-05-11 23:40:29.002253,52.506069,0101000020E6100000758E01D9EBD52A407C4276DEC640...,13.417815,NaN,Ruhig und doch mitten im Leben,Mitte,5.0,36.0,40,12745351,Private room,1219.0
250345,2.0,1.0,Berlin,83905228.0,2017-05-11 23:40:28.995715,52.491983,0101000020E61000006D6FB72407D42A400F98874CF93E...,13.414117,NaN,Beautiful 270sqft room in an amazing neighborhood,Friedrichshain-Kreuzberg,4.5,29.0,6,17442135,Private room,1219.0
250346,1.0,0.0,Berlin,26838123.0,2017-05-11 23:40:28.992787,52.486149,0101000020E6100000D47D00529BE02A40D6FD63213A3E...,13.438685,NaN,Visit us in the beautiful month of May!,Neukölln,0.0,16.0,0,18257458,Private room,1219.0
250347,1.0,1.0,Berlin,31168705.0,2017-05-11 23:40:28.990547,52.529999,0101000020E6100000560DC2DCEEC52A40D3F4D901D743...,13.386588,NaN,"Großes, helles Zimmer / Bright and spacious room",Mitte,0.0,28.0,0,18309298,Private room,1219.0
250348,2.0,1.0,Berlin,2985907.0,2017-05-11 23:40:28.987921,52.545845,0101000020E6100000274EEE7728C22A40B2D7BB3FDE45...,13.379215,NaN,Kultur für Nichtraucher,Mitte,4.5,23.0,309,2762142,Private room,1219.0
250349,2.0,1.0,Berlin,92253128.0,2017-05-11 23:40:28.985357,52.491299,0101000020E61000003128D36872C92A405CC7B8E2E23E...,13.393451,NaN,"Gemütliches Zimmer im Bergmannkiez, Kreuzberg",Friedrichshain-Kreuzberg,4.5,31.0,8,14780049,Private room,1219.0
250350,2.0,1.0,Berlin,7769957.0,2017-05-11 23:40:28.983220,52.526438,0101000020E61000003F373465A7E72A4092AF04526243...,13.452449,NaN,Quiet & comfortable room in Berlin-Friedrichshain,Friedrichshain-Kreuzberg,0.0,25.0,1,18546388,Private room,1219.0
250351,1.0,1.0,Berlin,105437531.0,2017-05-11 23:40:28.980404,52.515282,0101000020E6100000B51A12F758FA2A40D61BB5C2F441...,13.488960,NaN,Cute Room in Apartment in Berlin!,Lichtenberg,5.0,13.0,6,16154604,Private room,1219.0
250352,2.0,1.0,Berlin,42847615.0,2017-05-11 23:40:28.975841,52.515235,0101000020E610000039F06AB933E32A4095607138F341...,13.443754,NaN,Private room near 2 Warschauer Str/Alexander P...,Friedrichshain-Kreuzberg,5.0,31.0,6,17543657,Private room,1219.0
250353,1.0,1.0,Berlin,74635587.0,2017-05-11 23:40:28.972845,52.516615,0101000020E6100000946A9F8EC7AC2A40C0CFB8702042...,13.337460,NaN,Sweet little Room in Tiergarten,Mitte,0.0,30.0,2,17662518,Private room,1219.0
250354,1.0,1.0,Berlin,47434964.0,2017-05-11 23:40:27.436509,52.504154,0101000020E610000096E82CB308F52A40E412471E8840...,13.478582,NaN,Sunny Private Room in Shared Apartment,Lichtenberg,5.0,14.0,3,17934826,Private room,1219.0
250355,1.0,1.0,Berlin,41572417.0,2017-05-11 23:40:27.433460,52.523745,0101000020E6100000A8C5E061DADF2A40C5387F130A43...,13.437213,NaN,Private room in the heart of Berlin,Friedrichshain-Kreuzberg,4.5,31.0,3,16026081,Private room,1219.0
250356,2.0,1.0,Berlin,40946574.0,2017-05-11 23:40:27.428347,52.505936,0101000020E6100000333509DE90EE2A403DEFC682C240...,13.465949,NaN,bright and cozy room in Friedrichshain,Friedrichshain-Kreuzberg,0.0,22.0,2,17725842,Private room,1219.0
250357,2.0,0.0,Berlin,27317496.0,2017-05-11 23:40:27.425908,52.498937,0101000020E6100000AD33BE2F2EBD2A40D6E1E82ADD3F...,13.369493,NaN,"Beautiful room, brightly apartment in Mitte",Mitte,0.0,36.0,1,18104095,Private room,1219.0
250358,3.0,1.0,Berlin,47010115.0,2017-05-11 23:40:27.422437,52.509789,0101000020E61000003524EEB1F4E92A40266E15C44041...,13.456945,NaN,Big room in great location - Shared flat,Friedrichshain-Kreuzberg,4.5,34.0,4,9001258,Private room,1219.0
250359,2.0,1.0,Berlin,10261786.0,2017-05-11 23:40:27.419962,52.550699,0101000020E6100000D8800871E5D42A404F78094E7D46...,13.415813,NaN,Spacious and comfy room in top location,Pankow,0.0,38.0,2,16699634,Private room,1219.0
250360,1.0,1.0,Berlin,51348200.0,2017-05-11 23:40:27.416083,52.513190,0101000020E6100000F0BF95ECD8E02A402F51BD35B041...,13.439155,NaN,Private room in shared flat and great view,Friedrichshain-Kreuzberg,0.0,22.0,0,18538812,Private room,1219.0
250361,2.0,1.0,Berlin,15138918.0,2017-05-11 23:40:27.413831,52.499178,0101000020E6100000EACE13CFD9E22A40FC709010E53F...,13.443068,NaN,Bright and spacious room in lively Kreuzberg,Friedrichshain-Kreuzberg,0.0,29.0,2,18021161,Private room,1219.0
250362,2.0,1.0,Berlin,115151451.0,2017-05-11 23:40:27.411596,52.552727,0101000020E610000002F390291FC22A40DF4E22C2BF46...,13.379144,NaN,Nice room in a central location,Mitte,0.0,28.0,0,17131599,Private room,1219.0
250363,1.0,1.0,Berlin,120339551.0,2017-05-11 23:40:27.408965,52.519098,0101000020E6100000FDDCD0949DE62A40A2B5A2CD7142...,13.450421,NaN,"Room @ Berlin-Friedrichshain (U5, M10)",Friedrichshain-Kreuzberg,0.0,13.0,2,17674768,Private room,1219.0
250364,1.0,1.0,Berlin,86093790.0,2017-05-11 23:40:27.406056,52.510167,0101000020E61000007976F9D687E52A40CD3FFA264D41...,13.448302,NaN,Gemütliches Zimmer in Friedrichshain (35m²),Friedrichshain-Kreuzberg,5.0,29.0,4,16716032,Private room,1219.0
250365,2.0,1.0,Berlin,40364833.0,2017-05-11 23:40:27.403326,52.490009,0101000020E6100000978BF84ECCC22A4072DF6A9DB83E...,13.380465,NaN,Beautiful room in old apartment in Kreuzberg!,Friedrichshain-Kreuzberg,5.0,34.0,4,7686091,Private room,1219.0
250366,2.0,1.0,Berlin,43281326.0,2017-05-11 23:40:27.400559,52.525812,0101000020E6100000DA71C3EFA6DB2A4014ECBFCE4D43...,13.429008,NaN,16 m² Zimmer zu vermieten,Friedrichshain-Kreuzberg,5.0,37.0,8,8259293,Private room,1219.0
250367,1.0,1.0,Berlin,22807768.0,2017-05-11 23:40:27.398325,52.518951,0101000020E6100000C5C9FD0E45D92A40FE9C82FC6C42...,13.424355,NaN,ruhiges & gemütliches Zimmer im Zentrum von Be...,Mitte,5.0,21.0,4,18189617,Private room,1219.0
250368,2.0,1.0,Berlin,119420658.0,2017-05-11 23:40:27.395710,52.552056,0101000020E6100000F1475167EEC12A40C1C760C5A946...,13.378772,NaN,14 qm WG-Zimmer in Wedding,Mitte,0.0,19.0,1,17581444,Private room,1219.0
250369,2.0,1.0,Berlin,8562304.0,2017-05-11 23:40:27.393190,52.471074,0101000020E61000002FDD240681DD2A407AFF1F274C3C...,13.432625,NaN,Large bright double room - Neukölln,Neukölln,5.0,30.0,3,17507686,Private room,1219.0
250370,2.0,2.0,Berlin,16802911.0,2017-05-11 23:40:27.389609,52.489127,0101000020E61000001651137D3EDA2A40994BAAB69B3E...,13.426258,NaN,Room in Cozy 1st-Floor Flat w/ Balcony + Big Bed,Neukölln,0.0,23.0,0,16525279,Private room,1219.0
250371,2.0,1.0,Berlin,98194385.0,2017-05-11 23:40:25.315765,52.553066,0101000020E610000003CFBD874BB62A40C843DFDDCA46...,13.356045,NaN,Large room for 1 or 2 people in Mitte/Wedding,Mitte,5.0,19.0,5,18151305,Private room,1219.0

In [159]:
datasets['vienna'].sample(5)

,accommodates,bedrooms,borough,city,host_id,last_modified,latitude,location,longitude,minstay,neighborhood,overall_satisfaction,price,reviews,room_id,room_type,survey_id
12966,4.0,1.0,22,NaN,90095005,2017-01-11 05:59:07.038049,48.232837,NaN,16.413297,NaN,2232,5.0,98.0,15,14646046,Entire home/apt,NaN
42012,2.0,1.0,12,Vienna,66844235,2017-05-18 08:22:05.321739,48.165339,0101000020E6100000734C16F71F5130406EE00ED42915...,16.316894,NaN,1210,5.0,21.0,9,17048820,Private room,1284.0
31338,3.0,1.0,3,Vienna,5924508,2017-04-15 04:51:29.732504,48.196503,0101000020E610000066A4DE53396530406F48A3022719...,16.395406,NaN,305,5.0,65.0,33,1076688,Entire home/apt,1125.0
37352,4.0,1.0,7,Vienna,8809805,2017-05-18 11:14:44.688002,48.205478,0101000020E61000004E603AADDB5830401406651A4D1A...,16.347102,NaN,705,4.5,74.0,19,5835467,Entire home/apt,1284.0
37712,4.0,1.0,5,Vienna,27655336,2017-05-18 11:16:18.877517,48.182816,0101000020E61000009E0AB8E7F95B3040C097C2836617...,16.359282,NaN,502,5.0,74.0,5,16122215,Entire home/apt,1284.0

In [160]:
#find out which columns are existent to all of the cities and which are not
all_columns = set() # the union of columns appearing in all of the cities
all_common_columns = set() # the intersection of columns appearing in all of the cities
first = True
for city,columns in city_columns.iteritems():
    columns_set = set(columns) #since all the columns of the same city have a unique name
    for col in columns:
        all_columns.add(col)
    if first == False:
        mortals = [] #containing the columns that are going to be removed from the intersection
        for col in all_common_columns:
            if col not in columns_set:
                mortals.append(col)
        for mor in mortals: 
            all_common_columns.remove(mor)
    else:
        for col in columns:
            all_common_columns.add(col) #initializing the intersection
        first = False

all_common_list = list(all_common_columns) #set to list
if len(all_common_list) > 0:
    print_str = 'Features appearing to every city of the dataset:\n{}'.format(all_common_list[0])
    for i in range(1,len(all_common_list)): #the rest
        print_str += ',{}'.format(all_common_list[i])
    print(print_str)
else:
    print("There are no common features between the different cities")


print_str = "\nFeatures appearing only to some cities of the dataset:\n"
first = True
for col in all_columns:
    if(col not in all_common_columns):
        if first == True:
            print_str += col
            first = False
        else:
            print_str += "," + col

print(print_str)

Features appearing to every city of the dataset:
overall_satisfaction,neighborhood,longitude,price,bedrooms,accommodates,minstay,reviews,last_modified,room_id,latitude,host_id,borough,room_type

Features appearing only to some cities of the dataset:
city,survey_id,bathrooms,country,property_type,location,name

In [161]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1]],columns=list('ABCD'))
df
#df.dropna(axis=0,subset=['A'])

     A  B   C  D
0  NaN  2 NaN  0
1  3.0  4 NaN  1

In [162]:
#checking if some bad values exist in accommodates column for every city
bad_accommodates_value_found = False
error_cities = [] #containing the cities containing bad values in that column
for city,data in datasets.iteritems():
    print('\n{}:\n'.format(city))
    error_found = False
    bools = data['accommodates'].to_frame().isnull()
    numeric_error_entries = len(data[data['accommodates'] < 1].index) #number of entries with values less than 1
    missing_entries = len(bools[bools['accommodates'] == True].index) #number of entries with missing values
    if numeric_error_entries > 0:
        error_found = True
        print('Numeric error for {} entries ({}% of the city\'s dataset)'.format(numeric_error_entries,
                                                                                100*float(numeric_error_entries/
                                                                                         len(data.index))))
    if missing_entries > 0:
        error_found = True
        print('Missing value for {} entries ({}% of the city\'s dataset)'.format(missing_entries,
                                                                                100*float(missing_entries/
                                                                                         len(data.index))))
    if error_found:
        error_cities.append(city)
        bad_accommodates_value_found = True    

    
#deleting the bad value entries:
print('\n\n')
for city in error_cities:
    city_data = datasets[city]
    old_num = len(city_data.index)
    city_data = city_data[city_data['accommodates'] >= 1]
    city_data = city_data.dropna(axis=0,subset = ['accommodates'])
    new_num = len(city_data.index)
    datasets[city] = city_data
    print('{} entries were deleted from {}'.format(old_num - new_num,city))

edinburgh:

Missing value for 1296 entries (1.75712135797% of the city's dataset)

reykjavik:


helsinki:


paris:

Numeric error for 41 entries (0.00584091346188% of the city's dataset)
Missing value for 7739 entries (1.10250803126% of the city's dataset)

madrid:


moscow:

Missing value for 1370 entries (3.81466837445% of the city's dataset)

dublin:

Missing value for 388 entries (0.617490252248% of the city's dataset)

tallin:


berlin:

Missing value for 9517 entries (3.80114389788% of the city's dataset)

rome:

Missing value for 6127 entries (2.11512902391% of the city's dataset)

london:

Missing value for 12414 entries (2.38170153331% of the city's dataset)

lisbon:

Missing value for 2813 entries (2.33188540354% of the city's dataset)

amsterdam:

Missing value for 1319 entries (0.714707587605% of the city's dataset)

copenhagen:

Missing value for 1252 entries (0.802466366276% of the city's dataset)

vienna:

Missing value for 1056 entries (2.50557585536% of the city's dataset)



1296 entries were deleted from edinburgh
7780 entries were deleted from paris
1370 entries were deleted from moscow
388 entries were deleted from dublin
9517 entries were deleted from berlin
6127 entries were deleted from rome
12414 entries were deleted from london
2813 entries were deleted from lisbon
1319 entries were deleted from amsterdam
1252 entries were deleted from copenhagen
1056 entries were deleted from vienna

In [163]:
for city in datasets.keys():
    city_data = datasets[city]
    city_data['price_per_accommodated'] = city_data['price'] / city_data['accommodates']
    datasets[city] = city_data

In [164]:
#create new column: price per number of people that can be accommodated

#for city in datasets.keys():
    #print('Created for {}...'.format(city))
    #city_data = datasets[city]
    #for index , row in city_data.iterrows():
        #city_data.set_value(index,'price_per_accommodated',row['price']/row['accommodates'])
    #datasets[city] = city_data

In [165]:
#input: p--> price, quartiles --> quartiles of price_per|_accommodated column,
#k --> tukey test's hyperparameter
#output: whether p is a low outlier, a high outlier or a normal instance
def tukey_test(p,quartiles,k):
    iqr = quartiles[2] - quartiles[0]
    lower_bound = quartiles[0] - k * iqr
    if(lower_bound < 1):
        lower_bound = 1 #not the lower bound of tukey test will be used but a fixed positive lower bound
        
    upper_bound  = quartiles[2] + k * iqr
    low_outliers = 0
    high_outliers = 0
    if p < lower_bound:
        return "low_outlier"
    elif p > upper_bound:
        return "high_outlier"
    return "no"

In [166]:
#checking if 'last_modified' alone can be used as the primary key
for city,data in datasets.iteritems():
    print(city)
    gb = data.groupby(['last_modified'])
    print(gb['last_modified'].count().sort_values(ascending=False)[0])
#for some cities it cannot be used

edinburgh
1
reykjavik
1
helsinki
1
paris
1
madrid
1
moscow
1
dublin
1
tallin
1
berlin
1
rome
7030
london
1
lisbon
1
amsterdam
1
copenhagen
1
vienna
4611

In [167]:
#checking if 'last_modified' along with 'room_id' can be used as the primary key
for city,data in datasets.iteritems():
    print(city)
    print(data.groupby(['last_modified','room_id']).size().sort_values(ascending=False)[0])
#they can be used

edinburgh
1
reykjavik
1
helsinki
1
paris
1
madrid
1
moscow
1
dublin
1
tallin
1
berlin
1
rome
1
london
1
lisbon
1
amsterdam
1
copenhagen
1
vienna
1

In [168]:
df = pd.DataFrame([[1, 2, 2, 0], [3, 4, 3, 1], [3, 4, 3, 1], [3, 4, 3, 1], [3, 4, 3, 1], [3, 4, 3, 1], [3, 4, 3, 1]],columns=list('ABCD'))
df.drop(df.index[[0,2,4]],inplace=True)
df

   A  B  C  D
1  3  4  3  1
3  3  4  3  1
5  3  4  3  1
6  3  4  3  1

In [169]:
#given the fact that some prices might be per month outlier detection method tukey test will be used
#so that these entries will be captures as outliers along with the rest of the outliers the dataset might have
#price_per_accommodated will be used instead of price column

k = 1.5 #tukey test's hyperparameter
all_low_outliers = 0
all_high_outliers = 0
all_data = 0
print('OUTLIER DETECTION AND DELETION')

for city in datasets.keys():
    mortal_indexes = []
    city_data = datasets[city]
    quartiles = []
    quartiles.append(city_data['price_per_accommodated'].to_frame().quantile(q=0.25,axis=0)[0])
    quartiles.append(city_data['price_per_accommodated'].to_frame().mean(axis=0)[0])
    quartiles.append(city_data['price_per_accommodated'].to_frame().quantile(q=0.75,axis=0)[0])
    city_low_outliers = 0
    city_high_outliers = 0
    city_data.reset_index(inplace=True)
    for index,row in city_data.iterrows():
        res = tukey_test(row['price_per_accommodated'],quartiles,k)
        if res == 'low_outlier':
            city_low_outliers += 1
            mortal_indexes.append(index)
            #mortal_room_id.append(row['room_id'])
            #mortal_last_modified.append(row['last_modified'])
        elif res == 'high_outlier':
            city_high_outliers += 1
            mortal_indexes.append(index)
            #mortal_room_id.append(row['room_id'])
            #mortal_last_modified.append(row['last_modified'])
    all_data += len(city_data.index)
    all_low_outliers += city_low_outliers
    all_high_outliers += city_high_outliers
    city_data = city_data.drop(city_data.index[mortal_indexes]) #deleting the outliers by their index
    
    datasets[city] = city_data
    print('{0}\t(LOW)\t{1}\t(HIGH)\t{2}\t(TOTAL)\t{3}\t{4}% of city\'s dataset'.
          format(city,city_low_outliers,city_high_outliers,city_low_outliers + city_high_outliers
                 ,100 * float(city_low_outliers + city_high_outliers)/len(city_data.index)))

print('\n\n\nALTOGETHER\t(LOW)\t{0}\t(HIGH)\t{1}\t(TOTAL)\t{2}\t{3}% of all cities\' datasets'.
          format(all_low_outliers,all_high_outliers,all_low_outliers + all_high_outliers
                 ,100 * float(all_low_outliers + all_high_outliers)/all_data))

OUTLIER DETECTION AND DELETION
edinburgh	(LOW)	1	(HIGH)	3015	(TOTAL)	3016	4.34300525596% of city's dataset
reykjavik	(LOW)	0	(HIGH)	1739	(TOTAL)	1739	4.05361305361% of city's dataset
helsinki	(LOW)	0	(HIGH)	900	(TOTAL)	900	5.81996896017% of city's dataset
paris	(LOW)	5	(HIGH)	34508	(TOTAL)	34513	5.23200111574% of city's dataset
madrid	(LOW)	1	(HIGH)	1037	(TOTAL)	1038	4.77022058824% of city's dataset
moscow	(LOW)	340	(HIGH)	2464	(TOTAL)	2804	8.83427851292% of city's dataset
dublin	(LOW)	0	(HIGH)	3450	(TOTAL)	3450	5.84775497059% of city's dataset
tallin	(LOW)	15	(HIGH)	461	(TOTAL)	476	4.60392687881% of city's dataset
berlin	(LOW)	3	(HIGH)	10088	(TOTAL)	10091	4.37286578496% of city's dataset
rome	(LOW)	0	(HIGH)	13726	(TOTAL)	13726	5.08705739339% of city's dataset
london	(LOW)	3	(HIGH)	24110	(TOTAL)	24113	4.974860583% of city's dataset
lisbon	(LOW)	23	(HIGH)	6975	(TOTAL)	6998	6.31468764945% of city's dataset
amsterdam	(LOW)	0	(HIGH)	5727	(TOTAL)	5727	3.22638798907% of city's dataset
copenhagen	(LOW)	0	(HIGH)	5450	(TOTAL)	5450	3.64995278501% of city's dataset
vienna	(LOW)	1	(HIGH)	1964	(TOTAL)	1965	5.02236421725% of city's dataset



ALTOGETHER	(LOW)	392	(HIGH)	115614	(TOTAL)	116006	4.66195726171% of all cities' datasets